<h2>Signup</h2>

<form action="/signup" method="post">

  <label for="username">Username
    <input type="text" name="username" />
  </label>

  <label for="password">Password
    <input type="text" name="password" />
  </label>
  <label for="email">Email
    <input type="email" name="email" />
  </label>

  <button>Signup</button>
</form>