<h3>Modify Cast</h3>

<form action="/celebrities/create/{{movieID}}" method="post">
  {{! the method of the form is what determines the request type that is being made (get/post) }}

  <label for="celebrity-name-input">
    Celebrity Name:
    <input
      id="celebrity-name-input"
      type="text"
      placeholder="Tom Cruise"
      name="name"
    />
  </label>

  <label>
    Occupation:
    <input type="text" name="occupation" />
  </label>

  <label>
    Catch Phrase:
    <input type="text" name="catchPhrase" />
  </label>

  <br />
  <button>Create</button>
  {{! buttons in forms will auto sync to the form and when clicked will submit the data from the form using the endpoint (action) and the method (method) that is defined in the form parameters at the top }}

</form>